In [5]:
nama='rahma'
nama
print(nama)

rahma

In [11]:
angka=20
angka
print(type(angka))
print(angka)

<class 'int'>
20

In [13]:
message='hello world'
message

'hello world'

In [19]:
a=("hai","halo")
b=("hai""halo")
print(a,b)

('hai', 'halo') haihalo

In [20]:
print(a);print(b)

('hai', 'halo')
haihalo

In [27]:
k='CELERateS'
print(k.lower())
print(k.upper())
print(k.title())

celerates
CELERATES
Celerates

In [31]:
print(nama,"", k)

rahma  CELERateS

## Excercise

1. write the code to show the output below in one cell

In [98]:
name=['bernice','aaron','cody']
print(name)
print(sorted(name,reverse=True))
print(sorted(name,reverse=False))

['bernice', 'aaron', 'cody']
['cody', 'bernice', 'aaron']
['aaron', 'bernice', 'cody']

2.  Known Ages = [23, 16, 14, 28, 19, 11, 38]
- Find out the age of our youngest Reader
- Find out the oldest reader
- Find out how many years in total our readers have life experience

  Print the message of a, b, c with the way you are

In [91]:
Known_Ages = [23, 16, 14, 28, 19, 11, 38]
min(Known_Ages)
max(Known_Ages)
len(Known_Ages)
print("youngest Reader", min(Known_Ages))
print("oldest reader",max(Known_Ages))
print("years in total our readers have life experience",max(Known_Ages)-min(Known_Ages))

youngest Reader 11
oldest reader 38
years in total our readers have life experience 27

3.  Every multiple change the value to Hello.

    Every multiple of 7, change the value to Hello World.
    
    If you meet 35 & 70, change the value to Hello !..
    
    And for 100, change the value to End.

In [ ]:
a=int(input("a="))
b=int(input("b="))

if(a==7 or b==7):
    print('Hello World.')
elif(a==100 or b==100):
    print('End.')
elif(a*b==35 or a*b==70):
    print('Hello !..')
elif(a*b):
    print('Hello')

4. List = [1,2,3,4,5,6,7,8,9,10]
   Expected result = [2,4,6,8]

In [169]:
List = [1,2,3,4,5,6,7,8,9,10]
even = [i for i in List[1:8] if (i % 2 == 0)]
 
print("Even numbers: ", even)

Even numbers:  [2, 4, 6, 8]

5. Buatlah aplikasi kalkulator  

   Kalkulator bisa mengoperasikan +,-,x,/,pangkat

In [179]:
def kalkulator(a,b,c,d,e):
    rata2= (a*b+c-d^e)/5
    print(rata2)

a=int(input("a="))
b=int(input("b="))
c=int(input("c="))
d=int(input("d="))
e=int(input("e="))

kalkulator(a,b,c,d,e)

a=5
b=5
c=2
d=5
e=1
4.6