In [5]:
nama='rahma'
nama
print(nama)

rahma

In [11]:
angka=20
angka
print(type(angka))
print(angka)

<class 'int'>
20

In [13]:
message='hello world'
message

'hello world'

In [19]:
a=("hai","halo")
b=("hai""halo")
print(a,b)

('hai', 'halo') haihalo

In [20]:
print(a);print(b)

('hai', 'halo')
haihalo

In [27]:
k='CELERateS'
print(k.lower())
print(k.upper())
print(k.title())

celerates
CELERATES
Celerates

In [31]:
print(nama,"", k)

rahma  CELERateS

## Excercise

1. write the code to show the output below in one cell

In [98]:
name=['bernice','aaron','cody']
print(name)
print(sorted(name,reverse=True))
print(sorted(name,reverse=False))

['bernice', 'aaron', 'cody']
['cody', 'bernice', 'aaron']
['aaron', 'bernice', 'cody']

2.  Known Ages = [23, 16, 14, 28, 19, 11, 38]
- Find out the age of our youngest Reader
- Find out the oldest reader
- Find out how many years in total our readers have life experience

  Print the message of a, b, c with the way you are

In [7]:
Known_Ages = [23, 16, 14, 28, 19, 11, 38]
min(Known_Ages)
max(Known_Ages)
len(Known_Ages)
print("youngest Reader", min(Known_Ages))
print("oldest reader",max(Known_Ages))
print("years in total our readers have life experience",sum(Known_Ages))
print("years in total our readers have life experience",max(Known_Ages)-min(Known_Ages))

youngest Reader 11
oldest reader 38
years in total our readers have life experience 149
years in total our readers have life experience 27

3.  Every multiple change the value to Hello.

    Every multiple of 7, change the value to Hello World.
    
    If you meet 35 & 70, change the value to Hello !..
    
    And for 100, change the value to End.

In [5]:
a=int(input("a="))
b=int(input("b="))

if(a==7 or b==7):
    print('Hello World.')
elif(a==100 or b==100):
    print('End.')
elif(a*b==35 or a*b==70):
    print('Hello !..')
elif(a*b):
    print('Hello')

a=35
b=2
Hello !..

In [13]:
def number(num):
    
    if num!= 0:
        print("Hello")
        
    if (num%7)==0:
        print("Hello World")
    
    if(num==35):
        print("Hello...")
    elif(num==70):
        print("Hello...")
    if num==100:
        print("End")
    else:
        print("input another number")

input_number=int(input("enter number="))
number(input_number)

while input_number!=100:
    input_number=int(input("enter number="))
    number(input_number)

enter number=0
Hello World
input another number
enter number=3
Hello
input another number
enter number=4
Hello
input another number
enter number=7
Hello
Hello World
input another number
enter number=100
Hello
End

4. List = [1,2,3,4,5,6,7,8,9,10]
   Expected result = [2,4,6,8]

In [169]:
List = [1,2,3,4,5,6,7,8,9,10]
even = [i for i in List[1:8] if (i % 2 == 0)]
 
print("Even numbers: ", even)

Even numbers:  [2, 4, 6, 8]

5. Buatlah aplikasi kalkulator  

   Kalkulator bisa mengoperasikan +,-,x,/,pangkat

In [8]:
#penjumlahan
def add(a,b):
    return a+b
#pengurangan
def minus(a,b):
    return a-b
#perkalian
def multiply(a,b):
    return a*b
#pembagian
def derivation(a,b):
    return a/b
#pangkat
def exponential(num1, exp):
    return num1**exp
print("Masukkan pilihan operasi kalkulato -\n" \
      "1. Additional\n" \
      "2. Substract \n" \
      "3. Multiply \n" \
      "4. Divide \n" \
      "5. Exponential \n")

select = int(input("Select operations menu form 1, 2, 3, 4, 5: "))

number1 = int(input("Enter first number: "))
number2 = int(input("Enter second number: "))

if select == 1:
    print(number1, "+", number2, "=", add(number1, number2))
elif select == 2:
    print(number1, "-", number2, "=", substract(number1, number2))
elif select == 3:
    print(number1, "x", number2, "=", multiply(number1, number2))
elif select == 4:
    print(number1, "/", number2, "=", divide(number1, number2))
elif select == 5:
    print(number1, "^", number2, "=", exponential(number1, number2))

Masukkan pilihan operasi kalkulato -
1. Additional
2. Substract
3. Multiply
4. Divide
5. Exponential

Select operations menu form 1, 2, 3, 4, 5: 1
Enter first number: 1
Enter second number: 2
1 + 2 = 3